body {
    margin: 0;
    background-image: url("space.jpg");
    background-attachment: fixed;
    height: 100%;
    color: white;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    padding: 3rem;
    text-align: center;
    font-family: 'Prompt', sans-serif;
}

h1 {
    font-weight: 500;
    font-size: 4rem;
}
h2 {
    font-weight: 500;
}
a {
    color: lightblue;
    text-decoration: none;
    font-weight: 300;
}
a:hover {
    text-decoration: underline;
}
p, ul li {
    font-weight: 300;
}